body{
    display: flex;
    flex-direction: column;
}

.tableau{
    background-color: rgb(123, 182, 108);
    border: white 3px solid;
    padding: 2vw;
}
.ligne{
    display: flex;
    justify-content: center;
}
.ligne2{
    display: flex;
    justify-content: center;
}
input{
    margin: 2vw;
}
button{
    margin: 0 10vw;
}